button {
    height: 30px;
    width: 30px;
    
    margin: 10px;
    border: none;
    border-radius: 2px;
}

button.current {
    box-shadow: 0 0 0 2px white,
                0 0 0 4px black;
}

#appBody{
    width: 600px;
    height: 500px;
}

#appHeader{
    width: 100%;
    height: 60px;
    background-color: #25B2D0;
    font-size: 20px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 5px;
    
}

#appBody {
    position: relative;
    top: 20px;
}

#appBodyContent {

}

#closeButton {
    /* TODO: add closeButton attributes */

}

#yesButton {
    background-color: 25B2D0;
    color: white;
    height: 30px;
    width: 40px;
    
    margin: 10px;
    border: none;
    border-radius: 2px;
}

#noButton {
    background-color: red;
    color: white;
    height: 30px;
    width: 40px;
    
    margin: 10px;
    border: none;
    border-radius: 2px;
}