button {
    height: 30px;
    width: 30px;
    
    margin: 10px;
    border: none;
    border-radius: 2px;
}

button.current {
    box-shadow: 0 0 0 2px white,
                0 0 0 4px black;
}

#appBody{
    width: 600px;
    height: 500px;
}

#title {
    padding-left: 5px;
    display: flex;
    flex-direction: row;
    
}

#titleWord {
    position: relative;
    left: 20px;
    
}

#appHeader{
    width: 100%;
    height: 60px;
    background-color: #25B2D0;
    font-size: 25px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 5px;
    
}

#appBody {
    position: relative;
    top: 20px;
}

#addButton {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    font-size: 30px;
    background-color: #6200EE;
    color: white;
    text-align: center;
    padding: 5px;

}

#logo {
    height: 40px;
    width: 40px;
}



#closeButton {
    /* TODO: add closeButton attributes */
    padding-right: 10px;
    margin: 3px;

}

.yesButton {
    background-color: 25B2D0;
    color: white;
    height: 30px;
    width: 40px;
    
    margin: 10px;
    border: none;
    border-radius: 2px;
}

.noButton {
    background-color: red;
    color: white;
    height: 30px;
    width: 40px;
    
    margin: 10px;
    border: none;
    border-radius: 2px;
}

.showbutton {
    background-color: aquamarine;
    height: 70px;
    width: 70px;
    margin: 10px;
}

#subscriptionServiceListDiv {
    position: relative;
    left: 20px;
    
}

.infodiv {
    width: 80%;
    height: 150px;
    
    position: relative;
    background-color:seashell;
    font-size: 20px;
    
    
}

.infoSpace {
    position: relative;
    left: 10px;
}


.services {
    width: 80px;
    height: 40px;
    background-color: wheat;
}

.serviceHeader {
    width: 80%;
    height: 30px;
    background-color: #87d7e9;
    font-size: 20px;
    font-weight: bold;
    position: relative;
    
}

.serviceTitle {
    position: relative;
    left: 10px;
}

#deleteData {
    background-color: red;
    color: white;
    height: 60px;
    width: 100px;
}

#messageContainer {
    color: #6200EE;
    font-size: 30px;
}


#sortButtonContainer {
    display: flex;
    flex-direction: row;
}

#addServiceDiv {
    display: flex;
    flex-direction: column;
    font-size: 16px;
}

#allService {
    display: flex;
    flex-direction: column;
    
}

#studentDiscountService {
    display: none;
    flex-direction: column;
}

#chooseAll {
    background-color: #87d7e9;
    border-color: #87d7e9;
    color: white;
    
}

#chooseStudent {
    background-color: white;
    border-color: #87d7e9;
    color: black;
    
}

.btn {
    border: 2px solid ;
    background-color: white;
    color: black;
    padding: 14px 28px;
    font-size: 16px;
    height: 60px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.sortbutton {
    background-color: grey;
    font-size: 12px;
    margin: 10px;
    padding: 5px;
    height: 20px;
    width: 96px;
}

.cancelBtn {
    background-color: red;
    color: white;
    height: 45px;
    width: 90px;
}

.otherService {
    display:flex;
    flex-direction: column;
    font-size: 16px;
}

.otherService label {
    text-align:right;
}